@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&family=Roboto:ital,wght@1,100&family=Sigmar+One&family=Space+Mono&display=swap');
/* Global Styling */
body,
html {
    background-color: #bbe0ff !important;
}

h1,
h2 {
    display: block;
    text-align: center;
}

#error{
    text-align: center;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    margin-top: 2vh;
}

.deck_viewer{
    position: relative;
    z-index: 999;
}

.grid_item{
    width: 15vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #CDF6FC;
    cursor: pointer;
    padding: 5%;
    font-family: 'Sigmar One', cursive;
    font-weight: 100;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: large;
}
.grid_item:hover{
    outline: solid black;
}
#lowercard{
    font-family: 'Sigmar One', cursive;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    color: black;
    text-shadow: white 0px 0px;
}


.ontop{
    z-index: 999;
    position: relative;
}

#title{
    font-size: 4vw;
    // font-family: 'Bebas Neue', cursive;
    font-family: 'Sigmar One', cursive;
    font-weight: 100;
}

.dead_card {
    outline: solid red !important;
    pointer-events: none;
}

.card {
    margin: 1%;
    background-color: #CDF6FC;
    padding: 2%;
}

#opponent{
    display: flex;
    justify-content: center;
}

#you{
    display: flex;
    margin-top: 10%;
    justify-content: center;
}

.selected{
    box-shadow: xl;
    background-color: rgb(184, 245, 242);
    outline: solid black;
}

.selected_card {
    outline: solid black;
}

.battlecards_container {
    display: flex;
}

.deck_viewer{
    font-family: 'Sigmar One', cursive;

    background-color: #CDF6FC !important;
}

#outlinetext{
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    // color: rgb(255, 255, 255) !important;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Sigmar One', cursive;

}

#battle_text{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    // color: white;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;

}

#selected {
    color: #0000ff;
}

#navbar {
    background-color: #CDF6FC;
    z-index: 999 !important;
    position: relative;
}

.leavebtn, .buttonStyle{
    background-color: transparent;
    font-family: 'Sigmar One', cursive;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 1% !important;
    font-size: 2vw !important;
}

.navbtn, .heading, .subheading, .stakingLabel {
    // background-color: #00E0FF !important;
    font-family: 'Sigmar One', cursive;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 2% !important;
    font-size: 2vw !important;

}
.navbtn:hover, .buttonStyle:hover{
    background-color: #00E0FF !important;

}
.buttonStyle{
    border-radius: 8px;
    margin: 0 auto!important;
}

#storebutton{
    align-items: center!important;
}
/* Liquidity Pool Page*/

#lp, #mp, #buyItems {
    display: flex;
    /*justify-content: space-between;*/
}

.buttonStyle{border:solid black 1px;
                background-color:#bbe0ff;}

#left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 3% 0 2%;
}

.cstake,
.estake {
    display: flex;

    margin-bottom: 15px;
    margin-top: 15px;
}

#stakebutton {
    margin-top: 10px;
    margin-bottom: 10px;
}

#cstake input {
    margin-left: 0;
}

#leftinner {
    background-color: #cdf6fc;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    width: 90%;
}

#innerright,
#innerleft {
    width: 50%;
}

#currency_exchange,
#staked_stats,
#stake {
    background-color: #cdf6fc;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    width: 90%;
}

#currency_exchange {
    display: flex;
}

#staked_stats div#statTable {
    background-color: #0000ff;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 45px;
    border-radius: 15px;
}

#staked_stats div#statChart {
    height: 250;
}

/*#stake{outline: solid black;}*/

/* Marketplace */

#general_store {
    background-color: #cdf6fc;
    outline: solid black;
}

#left input {
    display: block;
}

#left,
#right {
    width: 50%;
    height: 500px;
    margin: 0;
}

#left,
#innerleft {
    border-right: 1px solid #000000;
}