@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200&family=Roboto:ital,wght@1,100&family=Sigmar+One&family=Space+Mono&display=swap');
/* Global Styling */
body,
html {
    background-color: #bbe0ff !important;
}

h1,
h2 {
    display: block;
    text-align: center;
}

#error{
    text-align: center;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    margin-top: 2vh;
}

.deck_viewer{
    position: relative;
    z-index: 999;
}

.ontop{
    z-index: 999;
    position: relative;
}

#title{
    font-size: 4vw;
    // font-family: 'Bebas Neue', cursive;
    font-family: 'Sigmar One', cursive;
    font-weight: 100;
}

.dead_card {
    outline: solid red !important;
    pointer-events: none;
}

.card {
    margin: 1%;
    background-color: #CDF6FC;
    padding: 2%;
}

#opponent{
    display: flex;
    justify-content: center;
}

#you{
    display: flex;
    margin-top: 10%;
    justify-content: center;
}

.selected_card {
    outline: solid black;
}

.battlecards_container {
    display: flex;
}

.deck_viewer{
    font-family: 'Sigmar One', cursive;

    background-color: #CDF6FC !important;
}

#outlinetext{
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    // color: rgb(255, 255, 255) !important;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Sigmar One', cursive;

}

#battle_text{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    // color: white;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2em;

}

#selected {
    color: #0000ff;
}

#navbar {
    background-color: #CDF6FC;
    z-index: 999 !important;
    position: relative;
}

.leavebtn, .buttonStyle{
    background-color: transparent;
    font-family: 'Sigmar One', cursive;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 1% !important;
    font-size: 2vw !important;
}

.navbtn, .heading, .subheading, .stakingLabel {
    // background-color: #00E0FF !important;
    font-family: 'Sigmar One', cursive;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 2% !important;
    font-size: 2vw !important;

}
.navbtn:hover, .buttonStyle:hover{
    background-color: #00E0FF !important;

}
.buttonStyle{
    border-radius: 8px;
    margin: 0 auto!important;
}

#storebutton{
   // align-items: center!important;
    
}
#storeTotal{
    flex-grow:1;
    text-align:center;
}
.sbCont{width:30%}

/* Liquidity Pool Page*/

#lp, #mp, #buyItems {
    display: flex;
    //justify-content: space-between;
}
#mp {flex-wrap: wrap;}

#buyItems{margin-top: 25px;
    }


#left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 3% 0 2%;
}

.itemList{
    list-style-type: none;
  margin: 0;
  padding: 0;
}

.subsubheading{text-align: center;
background-color: #00E0FF;
  font-family: 'Sigmar One', cursive;
  width: 40%;
  margin-left: 30%;
  padding: 10px;
  border-radius: 15px;

  //color: white !important;
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  //padding: 2% !important;
  font-size: 1vw !important;}

.cstake,
.estake,
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

#stakebutton, #unstakebutton, #claimrewards{
    margin-top: 10px;
    margin-bottom: 10px;
}

#cstake input {
    margin-left: 0;
}



#innerright,
#innerleft {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#leftinner,
#currency_exchange,
#staked_stats,
#stake,
#mint_pack,
#general_store{
    background-color: #cdf6fc;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    width: 90%;
    border-radius: 10px;
}

#currency_exchange {
    display: flex;
}

#staked_stats div#statTable {
    background-color: #0000ff;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 205px;
    border-radius: 15px;
}

#staked_stats div#statChart {
    height: 250px;
}

/*#stake{outline: solid black;}*/

/* Marketplace */


#left input {
    display: block;
}

#left,
#right {
     min-width: 45%;
//    height: 500px;
    margin: 0;
    min-width: 500px;
}

#left,
#innerleft {
    border-right: 1px solid #000000;
}


.buttonStyle{border:solid black 1px;
    background-color:#bbe0ff;
    font-size: xx-large!important;
    padding: 15px;
    margin-bottom: 10px!important;   
}

.inputStyling{
    height: 55px;
    font-family: 'Sigmar One', cursive;
    font-size: 2vw;
    max-width: 100px;
    //padding: 100;
    width: 45%;
    text-align: center;
}

.selectStyling{
    height: 55px;
    font-family: 'Sigmar One', cursive;
    color: #000000;
    //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    //padding: 1% !important;
    width: 45%;
    background-color: transparent;
  font-size: 25px;
}

#calcSwap,#calcRewards{text-align: center;}

#innerleft{display: flex;
    align-items: center;
flex-direction: column;}