/* Global Styling */
body,
html {
    background-color: #fdf9f0;
}
h1,
h2 {
    display: block;
    text-align: center;
}

.dead_card {
    outline: solid red !important;
    pointer-events: none;
}

.card {
    margin: 1%;
}

.selected_card {
    outline: solid black;
}

.created_lobby {
    outline: solid black;
}

.battlecards_container {
    display: flex;
}

#selected {
    color: #0000ff;
}

.lobby_display {
    display: flex;
    flex-direction: column;
}

.lobby {
    display: flex;
    justify-content: space-between;
    margin: 1vw;
}

/* Liquidity Pool Page*/

#lp {
    display: flex;
    /*justify-content: space-between;*/
}
#left {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 3% 0 2%;
}

.cstake,
.estake {
    display: flex;

    margin-bottom: 15px;
    margin-top: 15px;
}
#stakebutton {
    margin-top: 10px;
    margin-bottom: 10px;
}

#cstake input {
    margin-left: 0;
}

#leftinner {
    background-color: #cdf6fc;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    width: 90%;
}

#innerright,
#innerleft {
    width: 50%;
}

#currency_exchange,
#staked_stats,
#stake {
    background-color: #cdf6fc;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    width: 90%;
}

#currency_exchange {
    display: flex;
}

#staked_stats div#statTable {
    background-color: #0000ff;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 45px;
    border-radius: 15px;
}

#staked_stats div#statChart {
    height: 250;
}

/*#stake{outline: solid black;}*/

/* Marketplace */

#general_store {
    background-color: #cdf6fc;
    outline: solid black;
}

#left input {
    display: block;
}

#left,
#right {
    width: 50%;
    height: 500px;
    margin: 0;
}
#left,
#innerleft {
    border-right: 1px solid #000000;
}
